# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
user/data/*
user/accounts/*
vendor/**

# Editors
.idea/**
.vscode/**

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp